.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  margin: 0px;
}

.contact {
  flex-direction: column;
}

.btn--outline {
  padding: 0px;
  margin: 0px;
}

.card {
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;

}

.projectsBorder {
  border-width: 5px;
  border-style: solid;
  border-color: #8D0FAC;
}

.jumbotron {
  background-image: url("/public/images/backgroundimage.jpg");
  background-size: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: -3%;
  
}


.aboutTxt {
  margin-top: 20px;
  color: aliceblue;
}


#About {
  text-align: center;
  color: azure;
}

#underline a {
  text-decoration: none;
}

#heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  background-image: "/images/hero.png";
}

#AppsHeader {
  background-color: lightgray;
}

#AppsInfo {
  font-size: large;
  padding-top: 1%
}

#Projects {
  display: inline-block;
  min-width: 100%;
}

img {
    width:  500px;
    height: 500px;
    object-fit: cover;
    padding-top: 10px;
}

h1 {
  text-align: center;
}



@media screen and (max-width: 992px) {
  img {
    width: 75%;
  }
  .jumbotron{
    margin-bottom: -5%;
  }
}


@media screen and (max-width: 600px) {
  img {
    width: 100%;
  }
  .jumbotron{
    margin-bottom: -5%;
  }
}

@media screen and (max-width: 992px) {
  .containerProjects {
    width: 75%;
  }
  #heroImg {
    width:50%
  }
  .jumbotron{
    margin-bottom: -5%;
  }
}



@media screen and (max-width: 600px) {
  .containerProjects {
    width: 100%;
  }
  #heroImg {
    width:0%
  }
  .jumbotron{
    margin-bottom: -5%;
  }
}

